<!DOCTYPE html>
<html lang="en">
<head>
  <meta charsset="UTF-8">
  <title>Transaction Status</title>
  <link rel="stylesheet" href="normalize.css">
  <link rel="stylesheet" href="style.min.css">
</head>
<body>
  <div class="email-background">
    <img class="email-logo" src="../img/torimo-logo.png"><img>
  <div class="email-header">{{user.first_name}}, new meetup options have been suggested!</div>

  <p>Please check out and respond in 2 days to decide meetup date from the link below or from My Transactions:</p>

  <div>{{link}}</div>

  <p>If you have any questions, please refer to (How It Works link) and (FAQ link), or contact us at team.torimo@gmail.com.<br><br><br>

  Thanks,<br><br>
  <span class="email-closing">Team Torimo</span></p>
  </div>

<body>
<html>
