<!DOCTYPE html>
<html lang="en">
<head>
  <meta charsset="UTF-8">
  <title>Transaction Status</title>
  <link rel="stylesheet" href="normalize.css">
  <link rel="stylesheet" href="style.min.css">
</head>
<body>
  <div class="email-background">
    <img class="email-logo" src="../img/torimo-logo.png"><img>
  <div class="email-header">{{user.first_name}}} Thank you for signing up for Torimo!</div>

  <p>If you don’t know why you got this email, please contact us at team.torimo@gmail.com so we can fix it for you.<br><br><br>

  Thanks,<br><br>
  <span class="email-closing">Team Torimo</span></p>
  </div>

<body>
<html>
