<!DOCTYPE html>
<html lang="en">
<head>
  <meta charsset="UTF-8">
  <title>Transaction Status</title>
  <link rel="stylesheet" href="normalize.css">
  <link rel="stylesheet" href="style.min.css">
</head>
<body>
  <div class="email-background">
    <img class="email-logo" src="../img/torimo-logo.png"><img>
  <div class="email-header">Forgot your password?</div>

  <p>If you want to reset your Torimo password, click on the link below (or copy and paste the URL into your browser):<br><br>
  {{reset_password_url}}<br><br>
  This link will lead you to the secure page for password request.<br><br>
  If you don't want to reset your password, please ignore this message. Your password will not be reset.<br><br>
  If you have any concerns, please contact us at team.torimo@gmail.com.<br><br><br>

  Thanks,<br><br>
  <span class="email-closing">Team Torimo</span></p>
  </div>

<body>
<html>
