<!DOCTYPE html>
<html lang="en">
<head>
  <meta charsset="UTF-8">
  <title>Transaction Status</title>
  <link rel="stylesheet" href="normalize.css">
  <link rel="stylesheet" href="style.min.css">
</head>
<body>
  <div class="email-background">
    <img class="email-logo" src="../img/torimo-logo.png"><img>
    <div>{{user.first_name}}</div>
    <div>Thank you for using Torimo!
    </div>

    <p>We are thrilled that your offer was accepted! Let's take an action to move forward.</p>

    <p>Please check out the link below and make a payment so that the requester can purchase what you requested.</p>

    <div>{{link}}</div>

    <p>If you have any questions, please refer to https://torimo.io/how-it-works, or contact us at team.torimo@gmail.com.<br><br><br>

    Thank you,<br><br>
    <span class="email-closing">Team Torimo</span></p>
  </div>

<body>
<html>
