<!DOCTYPE html>
<html lang="en">
<head>
  <meta charsset="UTF-8">
  <title>Transaction Status</title>
  <link rel="stylesheet" href="normalize.css">
  <link rel="stylesheet" href="style.min.css">
</head>
<body>
  <div class="email-background">
    <img class="email-logo" src="../img/torimo-logo.png"><img>
    <div class="email-header">{{user.first_name}}, you completed the request. Now get paid!</div>
    <p>Congratulation! You completed the request!</p>

    <p>Please connect your back acount and receive your payment from the link below or from My Transactions:</p>

    <div>{{link}}</div>

    <p>You will receive your payment within a few business days once you complete the process.</p>

    <p>If you have any questions, please refer to https://torimo.io/how-it-works, or contact us at team.torimo@gmail.com.<br><br><br>

    Thanks,<br><br>
    <span class="email-closing">Team Torimo</span></p>
  </div>

<body>
<html>
