@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Lexend+Deca&display=swap');

html {
  width: 100%;
  font-size: 62.5%;
}

body {
  width: 100%;
  color: #4A4A4A;
  text-align: center;
  font-size: 1.5rem;
  line-height: 150%;
  font-family: 'Lexend Deca', sans-serif;
}

*, *::after, *::before {
  box-sizing: border-box;
}

.wrapper {
  overflow:hidden;
  min-height: 500px;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

a:link, a:visited, a:hover, a:active {
  color: fff;
  text-decoration: none;
  cursor: pointer;
}

h2 {
  color: #FFBF5D;
  margin-top: 70px;
  margin-bottom: 30px;
  letter-spacing: 2px;
  font-family: 'Abril Fatface';
  font-size: 4rem;
  font-weight: normal;
  line-height: 100%;
}

h2 {
  @media (max-width: 767px) {
    font-size: 3rem;
    margin-top: 40px;
    margin-bottom: 20px;
      }}


h3 {
  margin-top: 50px;
  margin-bottom: 30px;
  color:#999999;
  font-size: 2.2rem;
  font-weight: normal;
}

h3 {
  @media (max-width: 767px) {
    margin-top: 30px;
    margin-bottom: 20px;
  }}

input {
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #EEEEEE;
  height: 30px;
  padding: 10px;
  font-family: 'Lexend Deca', sans-serif;
  // display: block;
}

select {
  display: block;
  font-family: 'Lexend Deca', sans-serif;
}

.asterisk {
font-size: 100%;
vertical-align: top;
position: relative;
top: -0.1em;
color: red;
}

.suptext {
font-size: 65%;
vertical-align: top;
position: relative;
top: -0.1em;
color: #4A4A4A;
}

.btn {
  background-color: #16C4FD;
  font-family: 'Lexend Deca', sans-serif;
  display: block;
  width: 300px;
  height: 40px;
  margin: 30px auto;
  line-height: 40px;
  border-radius: 7px;
  box: none;
  color: white;
  border-style: none;
}

.btn {
  @media (max-width: 767px) {
    width: 100%;
    margin: 40px auto;
    }
}

.btn:hover {
  cursor: pointer;
  background-color: #0a5770;
  transition: 0.3s ;
}

li {
  margin: 7px;
}

.form-section input {
  width: 97%;
  margin: 10px 0 30px 5px;
}

.form-section input {
  @media (max-width: 767px) {
    width: 93%;
  }}

  .main {
    width: 75%;
    float: right;
    min-height: 500px;
  }

  .main {
    @media (max-width: 767px) {
      padding: 10px 2%;
      width: 100%;
    }}



/* topbar */

.topbar-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFB23B;
  height: 80px;
  width: 100%;
  padding: 1% 5%;
}

.logo {
  width: 100%;
  height: auto;
}

.logo-link {
  width: 15%;
  height: auto;
}

.login {
  width: 40%;
}

.signin, .register {
  font-weight: bold;
  letter-spacing: 2px;
  margin-right: 20px;
}

.register {
  display: inline-block;
  border: 2px solid #fff;
  border-radius: 7px;
  width: 40%;
}

#terms, .agree {
  display: inline-block;
  text-align: left;
  width: auto;
}

#terms {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 10px;
}

.topbar-contents {
  @media (max-width: 767px) {
    display: none;
  }
}

// .mobile-topbar-contents {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   background-color: #78BBE6;
//   height: 80px;
//   width: 100%;
//   padding: 1% 5%;
// }

.mobile-menu-icon {
  font-size: 5rem;
  color: black;
}

.mobile-topbar-contents {
  @media (min-width: 768px) {
    display: none;
  }
}

/* top-menu */

.menu {
  height: 80px;
  // border-bottom: solid 1px #D3D3D3;
  background-color: #FCF5EB;
}

.menu {
  @media (max-width: 767px) {
    padding: 3px 3%;
    height: auto;
  }
}

.menu a:link, .menu a:visited, .menu a:hover, .menu a:active {
  display: inline-block;
  color: #4A4A4A;
  text-decoration: none;
  margin: 30px 40px;
  font-weight: bold;
  letter-spacing: 3px;
}

.menu a:link, .menu a:visited, .menu a:hover, .menu a:active {
  @media (max-width: 767px) {
    margin: 10px;
    display: block;
  }
}

/* sidemenu-logout */

.sidemenu-logout {
  float: left;
  // height: 1300px;
  width: 25%;
  background-color: #FCF5EB;
  // letter-spacing: 3px;
  padding-bottom: 10000px;
  margin-bottom: -10000px;
}

.sidemenu-logout {
  @media (max-width: 767px) {
    display: none;
  }
}

.sidemenu-logout p {
  padding: 0;
  margin: 80px auto;
  color: #999999;
}

/* sidemenu */

.sidemenu {
  float: left;
  // height: 1300px;
  width: 25%;
  background-color: #4A4A4A;
  // letter-spacing: 3px;
  padding-bottom: 10000px;
  margin-bottom: -10000px;
}

.sidemenu {
  @media (max-width: 767px) {
    display: none;
  }
}

.sidemenu ul {
  padding: 0;
}

.sidemenu li {
  margin: 80px auto;
}

.sidemenu .logout {
  color: white;
}

.sidemenu-mobile {
  text-align: left;
  height: auto;
  width: 100%;
  padding: 3% 5%;
  background-color: #4A4A4A;
  letter-spacing: 3px;
  vertical-align: middle;
}

.sidemenu-mobile span {
  float: right;
  vertical-align: central;
  font-size: 1.5em;
  color: white;
}

.sidemenu-mobile a {
  color: white;
}

.sidemenu-mobile ul {
  padding: 0;
  list-style: none;
}

.sidemenu-mobile li {
  margin: 30px 0;
}

.sidemenu-mobile {
  @media (min-width: 768px) {
    display: none;
  }
}

/* profile */

.profile-switch {
  display: inline-block;
  width: 50%;
  height: 50px;
  line-height: 50px;
  letter-spacing: 3px;
}

.profile-switch.traveler {
  background-color: grey;
  color: white;
  float: right;
}

.profile-switch.shopper {
  background-color: white;
  color: black;
  float: left;
}




.profile {
  float: right;
  // height: 1000px;
  width: 75%;
  background-color: white;
  padding: 0 1% 100px 1%;
}

.profile {
  @media (max-width: 767px) {
    width: 100%;
    height: auto;
    padding: 0 3% 10px 3%;
  }
}

.profile-left {
  @media (min-width: 767px) {
    float: left;
    width: 50%;
  }
}

.profile-right {
  @media (min-width: 767px) {
    float: right;
    width: 50%;
  }
}


.profile img {
  display: block;
  height: 200px;
  width: 200px;
  margin: 60px auto 0;
  border: 1px solid grey;
}

.picture-upload {
  display: block;
  margin: 5px auto 30px;
  padding: 1px;
  width: 200px!important;
  background-color: transparent!important;
  border: none!important;
}

.profile p {
  margin-top: 10px;
}

.fab {
  font-size: 30px;
  margin-bottom: 30px;
}

.sns:link, .sns:visited, .sns:hover, .sns:active {
  color: #78BBE6;
}

.user-name {
  font-size: 2rem;
  margin: 40px 0 50px!important;
  // color: #1B435D;
  // width: 30%;
  font-weight: bold;
}

.user-data {
  // font-size: 2rem;
  width: 80%;
  // text-align: center;
}

.user-data {
  @media (max-width: 767px) {
    width: 100%;
  }}

.sc-bZQynM.bpzdHV {
  display: inline-block;
  position: relative;
}

.user-data.resi {
  position: absolute;
  right: -51%;
  bottom: -100%;
  display: block;
  margin: 5px auto 5px;
  text-align: left;
  width: 201%;
}

.user-data.resi {
  @media (max-width: 767px) {
    width: 100%;
    position: static;
  }}

.active-info {
  margin-bottom: 40px;
  // color: #1B435D;
}

.object {
  color: #999999;
}

.table-heading, .table-heading-upcoming{
  color: #999999;
  // font-weight: bold;
}

.table-data {
  width: 90%;
  // color: #1B435D;
  border-collapse: collapse;
  margin: 20px auto 50px;
}

.table-data {
  @media (max-width: 767px) {
    table-layout: fixed;
    width: 100%;
    font-size: 1.2rem;
    line-height: 15px;
  }}

.table-heading td:nth-child(3),
.table-heading td:nth-child(4),
.table-heading td:nth-child(5),
.transaction-data td:nth-child(3),
.transaction-data td:nth-child(4),
.transaction-data td:nth-child(5) {
  @media (max-width: 767px) {
    display: none;
  }}

.table-data td {
  padding: 10px 3px;
  border-bottom: 1px solid #BBBBBB;
}

.table-data td:nth-child(4) {
  max-width: 130px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table-data a.user-link {
  color: black;
}

// .table-data .-data td:nth-child(6) {
//   font-weight: bold;
// }

.add-new-trip {
  background: #fcf5eb;
  margin: 60px auto 110px;
  width: 90%;
  padding: 10px 20px 20px 20px;
  border-radius: 7px;
  text-align: center;
}

.add-new-trip {
  @media (max-width: 767px) {
    width: 100%;
  }}


.upcoming {
  margin-top: 100px;
  margin-bottom: 40px;
}

.btn.savep {
  line-height: 10px!important;
  width: 30%;
}

.btn.savep {
  @media (max-width: 767px) {
    width: 100%;
  }
}

.trip-entry {
  display: block;
  margin: 5px auto 5px;
  width: 100%;
}

.transaction-data.total {
  font-weight: bold;
  background-color: #D5EEFF;
  border: none;
}

// .individual-transaction {
//   color: #16C4FD!important;
//   display: block;
//   width: 100%;
//   height: 100%;
// }

.transaction-data.detail td tr {
  padding: 0;
  margin: 0;
}

.detail-heading {
  width: 15%;
}

.detail-heading {
  @media (max-width: 767px) {
    width: 30%;
  }}

.btn.detail {
  width: 100%;
  margin: 0;
  height: 35px;
  line-height: 35px;
}

.transaction-status {
  color: #F17816;
}

.request {
  display: inline-block;
  position: relative;
  margin: 60px 0 30px 0;

}

.request {
  @media (max-width: 767px) {
    margin-top: 30px;
    margin-bottom: 20px;
  }}


// .request::after {
//   content: "";
//   position: absolute;
//   left: 0;
//   right: 0;
//   bottom: -10%;
//   border-bottom: 1px solid #333;
// }

// Transaction msg-history

.transaction-history h3 {
    margin: 70px 0 25px 0;
}

.decline-reason {
  width: 75%;
  float: right;
  background-color: #EEEEEE;
  min-height: 800px;
}

.status {
  display: inline-box;
  text-align: left;
  width: 70%;
  height: 50px;
  border: 1px dashed grey;
  padding-left: 50px;
  margin: 0 auto 50px auto;
  line-height: 50px;
}

.transaction-history {
  float: right;
  text-align: center;
  width: 75%;
  padding: 0 0 100px 0;
}

.transaction-history {
  @media (max-width: 767px) {
    width: 100%;
    padding: 10px 3%;
  }}

.history-box {
  display: inline-box;
  width: 80%;
  border: 1px solid #BBBBBB;
  margin: 20px auto 0px;
  padding: 10px 15px 10px;
  border-radius: 10px;
  text-align: left;
}

.history-box {
  @media (max-width: 767px) {
    width: 100%;
    margin: 0 0 10px 0;
    padding: 10px 5px 10px;
  }}

.history-box ul, .history-summary ul {
  list-style: none;
  margin: 3%;
  padding: 0;
}

.history-box p {
  margin: 10px;
  font-weight: bold;
}

.history-summary {
  margin: 70px auto 50px auto;
  border: none;
  width: 70%;
}

.history-summary li {
  word-break: break-all;
}

.transaction-summary {
  text-align: left;
  margin: 0 30% 0 15%;
  padding: 10px;
  width: 50%;
}

.decline-comment {
  width: 100%;
  margin: 40px 0 60px!important;
}

.StripeCheckout, .StripeCheckout span {
  background-color: #16C4FD!important;
  font-family: 'Lexend Deca', sans-serif!important;
  display: block!important;
  width: 300px!important;
  height: 40px!important;
  margin: 30px auto!important;
  line-height: 40px!important;
  border-radius: 7px!important;
  color: #ffffff!important;
  box-shadow: none!important;
  background-image: none!important;
}

.StripeCheckout span {
  margin: 0!important;
  font-weight: normal!important;
}

.btn.notify {
  display: inline-block;
  text-align: center;
  float: right;
  margin: 10px 2% 10px 0;
  width: 30%;
}

.btn.notify {
  @media (max-width: 767px) {
    width: 90%;
    margin: 10px auto;
    display: block;
    float: none;
  }}

.notify-heading {
  display: inline-block;
  margin: 20px 0 20px 10px!important;
}

.history-date {
  color: white;
  font-weight: normal!important;
  background-color: #FFBF5D;
  display: inline-block;
  padding: 5px 10px;
  // border-radius: 6px;
}

.history-date {
  @media (max-width: 767px) {
    margin: 0 0 0 10px!important;
    font-size: 1.3rem;
    padding: 3px 5px;
  }}

.history-date.new-update {
  background-color: #16C4FD;

}

.action-required {
  // font-size: 0.7em;
  // background-color: red;
  color: red;
  border: 1px solid red;
  margin: 0 2px 0 0!important;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  display: inline-block;
}

// .action-required {
//   @media (max-width: 767px) {
//     width: 15px;
//     height: 15px;
//     font-size: 10px;
//   }}


.action-required-text {
  margin: 0!important;
  display: inline-block;
  color: red;
}

.history-update {
  display: inline-block;
}

.request-data {
  text-align: left;
  list-style: none;
}

.request-data li {
  margin: 10px;
  word-break: break-all;
}

.request-data a {
  color: #16C4FD;
}

.request-data img {
  width: 100%;
  max-width: 300px;
  height: auto;
}

.bread-crumb {
  text-align: left;
  margin: 20px 40px;
}

.bread-crumb {
  @media (max-width: 767px) {
    margin: 0;
  }}

.bread-crumb a:link, .bread-crumb a:visited{
  color: #F17816;
}

.btn.accept {
  display: inline-block;
  // background-color: #78BBE6;
  width: 30%;
  margin: 0 30px;
}

.btn.decline {
  display: inline-block;
  background-color: grey;
  width: 30%;
  margin: 0 30px;
  text-align: center;
}

.btn.decline, .btn.accept {
  @media (max-width: 767px) {
  width: 90%!important;
  margin: 10px auto;
  }}


.action-area {
  text-align: center;
  margin: 50px auto 10px;
}


// search result

.search {
  @media (max-width: 767px) {
    padding: 10px 3%;
  }
}

.filter, .search-result {
  text-align: left;
  background: #D5EEFF;
}

.filter {
  width: 20%;
  float: left;
  height: 1000px;
  padding: 20px;
}

.filter h2 {
  margin-bottom: 47.431px;
}

.filter-field {
  background-color: white;
  padding: 20px;
  height: 800px;
}

.filter-item {
  margin-bottom: 50px;
}

.search-result {
  width: 80%;
  float: right;
  height: 1000px;
  padding: 20px;
}

.sort-by  {
  // text-align: right;
  height: 20px;
  margin-bottom: 10px;
}

.search-user-wrapper {
  overflow: scroll;
  height: 1070px;
  text-align: center;
  margin-top: 40px;
}

.profile-card {
  display: inline-block;
  background: white;
  width: 40%;
  height: 180px;
  padding: 30px;
  margin: 20px;
  box-shadow: 0 0 10px lightgray;
  border-radius: 10px;
  text-align: left;
}

.profile-card {
  @media (max-width: 767px) {
    width: 95%;
    margin: 10px 0;
    height: 150px;
    padding: 18px 8px;
  }
}

.profile-card:hover {
  box-shadow: 0 0 10px #ffb23b;
}

.profile-card-name {
  font-size: 1.3em;
  margin-top: 0;
}

.profile-card-img {
  display: inline-block;
  width: 30%;
  max-width: 30%;
  height: auto;
  background-color: grey;
  margin-right: 20px;
  vertical-align: top;
}

.profile-card-contents {
  display: inline-block;
  width: 60%;
  height: 100%;
  vertical-align: top;
}

.profile-info {
  margin-bottom: 100px;
}

.subject {
  color: #FFB23B;
  margin-top: 10px;
}

.search-box {
  display: inline-block;
  margin: 40px 0 0 0;
  width: 100%;
  height: 40px;
  padding: 5px;
}

.search-box {
  @media (max-width: 767px) {
    width: 100%;
  }}

.sc-bZQynM.bpzdHV {
  display: inline-block;
  width: 40%;
  // margin: 0 10px 0 0;
}

.sc-bZQynM.bpzdHV {
  @media (max-width: 767px) {
    width: 100%;
  }}

.btn.search {
  display: inline-block;
  // background-color: #F17816;
  margin: 20px 10px 0;
  border: none;
  width: 10%;
}

.btn.search {
  @media (max-width: 767px) {
    width: 100%;
    margin: 20px 0 0 0;
    height: 40px;
    line-height: 20px;
    vertical-align: middle;
    // margin: 0;
  }}

  .datepicker {
    display: inline-block;
  }

  .react-datepicker-popper div {
    font-size: 1.2rem;
  }

  .react-datepicker-wrapper {
    width: 40%;
  }

  .react-datepicker-wrapper {
    @media (max-width: 767px) {
      width: 100%;
    }}

  .react-datepicker__input-container {
    width: 100%;
  }

  .react-datepicker__input-container input {
    width: 100%;
  }


.btn.savet {
  line-height: 10px!important;
  width: 40%;
  margin-bottom: 60px;
}

.btn.savet {
  @media (max-width: 767px) {
    width: 100%;
    margin: 20px auto;
  }}


// Message Box

.msg-box {
  float: right;
  width: 75%;
  height: 633px;
  border-bottom: 1px solid #D3D3D3;
}

.msg-box h2 {
  margin-top: 20px;

}

.msg-history {
  float: left;
  border-right: 1px solid #D3D3D3;
  width: 40%;
  height: 573px;
  border-top: 1px solid #D3D3D3;
  padding: 20px;
}

.msg-history input {
  width: 90%;
  margin-bottom: 20px;
}

.msg-history-item {
  text-align: left;
  padding: 5px;
}

.msg-history-img {
  display: inline-block;
  background-color: grey;
  width: 60px;
  height: 60px;
  margin: auto 0;
}

.msg-history-contents {
  display: inline-block;
  line-height: 8px;
  margin: auto 0 auto 10px;
  vertical-align: top;
}

.msg-name {
  font-weight: bold;
}

.chat {
  float: right;
  width: 60%;
  height: 573px;
  border-top: 1px solid #D3D3D3;
  // padding: 20px;
}

.chat-area {
  height: 400px;
  padding: 10px;
  overflow: scroll;
}

.chat-cmt-sender, .chat-cmt-me {
  display: block;
  text-align: left;
  width: 50%;
  height: auto;
  background-color: #D3D3D3;
  border-radius: 7px;
  padding: 15px;
  margin-right: 50%;
  margin-bottom: 5px;
  overflow-wrap: break-word;
}

.chat-cmt-me {
  background-color: #D5EEFF;
  margin-left: 50%;
}

.type-msg {
  border-top: 1px solid #D3D3D3;
  height: 100px;
}

.type-msg input {
  display: block;
  width: 100%;
  height: 100px;
  border: none;
  padding: 8px;
}


// howItWorks


.wrapper-clearfix.howto {
  width: 75%;
  margin: 0 auto;
  height: 1200px;
  float: right;
}

.wrapper-clearfix.howto {
  @media (max-width: 767px) {
    width: 100%;
    height: 1200px;
    padding: 10px 2%;
  }}

.how-to-requester, .how-to-arrow, .how-to-traveler {
  height: 1090px;
  // background-color: #4A4A4A;
  margin-bottom: 100px;
}

.how-to-requester, .how-to-arrow, .how-to-traveler {
  @media (max-width: 767px) {
    height: 1000px;
    font-size: 0.7em;
    line-height: 130%;
  }}


.how-to-requester {
  // background-color: pink;
  float: left;
  width: 45%;
}

.how-to-arrow {
  // background-color: yellow;
  float: left;
  width: 10%;
  padding: 60px 0;
  // background-color: black;
}

.how-to-arrow-mobile {
  // background-color: yellow;
  float: left;
  width: 20%;
  padding: 60px 0;
  height: 1100px;
  // background-color: black;
}

.how-to-arrow {
  @media (max-width: 767px) {
    display: none;
  }}

.how-to-arrow-mobile {
  @media (min-width: 767px) {
    display: none;
  }}

.how-to-traveler {
  // background-color: red;
  float: right;
  width: 45%;
}

.how-to-requester, .how-to-traveler {
  @media (max-width: 767px) {
    width: 40%;
  }}

.how-box {
  display: block;
  width: 95%;
  // height: 100px;
  margin: 20px auto 180px;
  background-color: white;
  text-align: left;
  vertical-align: top;
  border: solid 1px #BBBBBB;
  border-radius: 7px;
  padding: 2px 20px;
}

.how-box {
  @media (max-width: 767px) {
    padding: 3px;
  }}

.how-heading {
  font-weight: bold;
  font-size: 1.2em;
  color: #4A4A4A;
}

.requester {
  color: #16C4FD;
    // font-size: 1.2em;
}

.traveler-name {
  color: #FFB23B;
  // font-size: 1.2rem;
}

.how-box.third {
  margin: 20px auto 30px;
}

.how-box.traveler {
  margin: 150px auto 0;
}

.how-box.traveler.last {
  margin: 330px auto 0;
}

.how-detail {
  text-align: left;
  width: 75%;
  margin: 100px auto 100px;
  float: right;
  padding: 10px 1%;
}

.how-detail {
  @media (max-width: 767px) {
    padding: 10px 3% 30px;
    margin: 0;
    width: 100%;
  }}


// form

.form {
  display: block;
  float: right;
  width: 75%;
  background-color: #EEEEEE;
  padding-bottom: 70px;
}

.form {
  @media (max-width: 767px) {
    width: 100%;
    padding: 10px 3%;
  }}


.form-wrapper {
  text-align: left;
}

.meetup-rule {
  margin-top: 60px;
  // color: #F17816;
  font-weight: bold;
}

.meetup-option-select {
  display: inline-block;
  background-color: #EEEEEE;
  border-radius: 10px;
  margin: 10px 5px 5px 5px;
  padding: 8px;
  width: 32%;
  // height: 280px;
  vertical-align: top;
}

.meetup-option-select {
  @media (max-width: 767px) {
    // height: 250px;
    width: 100%;
    margin: 5px auto;
  }}

.meetup-option-select > .btn.accept-meetup {
  @media (max-width: 767px) {
    // height: 250px;
    width: 90%!important;
    // margin: 5px auto;
  }}

.btn.accept-meetup {
  width: 80%;
  background-color: #FFB23B;
}

.error-heading {
  // display: inline-block;
  color: red;
  text-align: center;
}


.meetup-option-select .btn.accept {
  display: inline-block;
  margin: 20px 10% 0;
  width: 80%;
  vertical-align: bottom;
}

.btn.suggest {
  text-align: center;
  // width: 90%;
}

.form-section {
  display: block;
  background-color: white;
  width: 80%;
  border-radius: 7px;
  margin: 30px auto 0px;
  padding: 50px;
  text-align: left;
}

.form-section {
  @media (max-width: 767px) {
    width: 100%;
    margin: 10px auto 0px;
    padding: 20px;
  }}


.form-section.first {
  margin-top: 70px;
}

.item-upload {
  padding: 1px;
}

.request-image {
  width: 20%;
  max-width: 20%;
  height: auto;
  margin: 10px 0 0 5px;
}

.request-summary {
  margin-top: 70px;
}

.trip-summary {
  margin: 0 0 5px 0;
}

.form-heading {
  display: inline-block;
  margin: 0 0 0 0;
  font-weight: bold;
}


.meetup-option {
  width: 81%!important;
  margin-right: 15px!important;
}

.meetup-option {
  @media (max-width: 767px) {
    width: 100%!important;
  }}


.meetup-option.time {
  width: 40%!important;
  margin-left: 5px!important;
}

.meetup-option-wrapper input {
  margin: 10px 5px 5px 0!important;
}

.meetup-option-wrapper {
  margin: 30px 0 30px 5px;
}

.contact-info {
  color: #F17816;
  margin-left:4%!important;
  margin-bottom:0!important;
  margin-top:20px!important;
  font-weight:normal!important;
}

.contact-option {
  width: 40%!important;
  margin-right: 0!important;
}

.contact-option {
  @media (max-width: 767px) {
    width: 100%!important;
    margin: 10px 5px 5px 0!important;
  }}

.suggested-option {
  color: #F17816;
  // margin-top: 20px;
}

.form-data {
  display: inline-block;
  margin: 10px 0 30px 0;
  text-align: left;
  word-break: break-all;
}

.form-data img{
  width: 100%;
  max-width: 300px;
  height: auto;

}

.number-calculated {
  display: inline-block;
  margin: 2px 0 10px 5px;
  padding: 10px;
}

.optional-item {
  margin: 0 0 30px 0;
  color: #F17816;
  width: 100%;
}

.meetup {
  margin-right: 50px;
}

.btn.accept {
    display: inline-block;
    width: 30%;
    line-height: 20px;
    color: white;
    margin: 10px 0;
    background-color: orange;
}

.form-send-btn {
  color: white;
  // background-color: #1B435D;
  // display: block;
  width: 50%;
  height: 50px;
  // line-height: 30px;
  // border-radius: 10px;
  margin-top: 50px;
}

.form-send-btn {
  @media (max-width: 767px) {
    width: 100%;
    // margin: 0;
  }}




/* footer */

.btn.request {
  margin: 0;
  width: 80%;
  height: 35px;
  line-height: 35px;
}

.btn.request {
  @media (max-width: 767px) {
    width: 100%;
    margin: 0;
  }}


// email

.email-background {
  background-color: #FED89E;
  border-radius: 7px;
  margin:10px auto;
  padding: 30px;
  width: 90%;
}

.email-logo {
    margin-bottom: 30px;
}

.email-header {
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 40px;
}

.email-closing {
  font-weight: bold;
}

// About Us

.about-us {
  text-align: left;
  width: 80%;
  margin: 100px auto 100px;
}

.member {
  display: inline-block;
  width: 40%;
  background: #fcf5eb;
  margin: 30px 2%;
  padding: 3% 5%;
  border-radius: 10px;
  height: 450px;
  vertical-align: top;
}

.member {
  @media (max-width: 767px) {
    display: block;
    width: 100%;
    margin: 40px auto;
  }}


.member-title {
  font-style: italic;
  color: #F17816;
}

.us-picture {
  width: 30%;
  max-width: 30%;
  height: auto;
}

// other

.introduction {
  width: 70%;
  margin: 80px auto 80px;
  text-align: center;
}

.introduction a {
  color: #f17816;
}

.sc-EHOje {
  width: 100%;
  left: 0%!important;
}

.sc-EHOje div {
  font-size: 1.5rem;
}

.sc-EHOje img {
  width: 20%;
  max-width: 20%;
  height: auto;
  margin: 2px;
}

// Contact

.contact-message {
  height: 200px;
  vertical-align: top;
  width: 100%;
}

// sign-in

.signin-box {
  width: 35%;
  margin: 20px auto;
  color: #4A4A4A;
  // text-align: left;
  padding: 20px 10px;
}

.signin-box {
  @media (max-width: 767px) {
    width: 90%;
  }}

.signin-box input {
  width: 50%;
}

.start-error {
  margin-bottom: 40px;
}

.start {
  display: inline-block;
  width: 25%;
  color: #4A4A4A;
  text-align: left;
  margin-right: 3px;
  font-weight: bold;
}

.btn.start-page {
  width: 76%;
}

.start-link {
  color: #f17816!important;
}

.report {
  // display: inline-block;
  margin-bottom: 100px;
  width: 20%;
}

.report {
  @media (max-width: 767px) {
    width: 100%;
    margin: 10px auto 50px;
  }}


.report-content {
  // font-size: 0.8em;
  // color: red;
}

.received {
  margin: 30px auto;
}

.request-action {
  margin-top: 50px;
}

.warning {
  margin-bottom: 5px;
  color: red;
}

.report-content {
  width: 70%;
  margin: 0 auto 20px;
}

.report-area {
  margin: 0 auto 50px;
}
