@charset "UTF-8";

html {
  width: 100%;
  font-size: 62.5%;
}

body {
  width: 100%;
  color: #1B435D;
  text-align: center;
  font-size: 1.4rem;
  font-family: Raleway, "Hiragino Kaku Gothic ProN",  Meiryo,  sans-serif;
}

*, *::after, *::before {
  box-sizing: border-box;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

a:link, a:visited, a:hover, a:active {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

h2 {
  color: #F99F48;
  margin-top: 50px;
  margin-bottom: 30px;
  letter-spacing: 2px;
}


/* topbar */

.topbar-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #78BBE6;
  height: 80px;
  width: 100%;
  padding: 1% 5%;
}

.logo {
  width: 200px;
  height: 60px;
}


.search-button {
  background-color: #F99F48;
}

.signin, .register {
  font-weight: bold;
  letter-spacing: 2px;
  margin-right: 20px;
}

.register {
  border: 2px solid #fff;
  border-radius: 3%;
}

.topbar-contents {
  @media (max-width: 767px) {
    display: none;
  }
}

.mobile-topbar-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #78BBE6;
  height: 80px;
  width: 100%;
  padding: 1% 5%;
}

.mobile-menu-icon {
  font-size: 5rem;
  color: black;
}

.mobile-topbar-contents {
  @media (min-width: 768px) {
    display: none;
  }
}

/* top-menu */

.menu {
  height: 80px;
  border-bottom: solid 1px #D3D3D3;
}

.menu a:link, .menu a:visited, .menu a:hover, .menu a:active {
  display: inline-block;
  color: #1B435D;
  text-decoration: none;
  margin: 30px 40px;
  font-weight: bold;
  letter-spacing: 3px;
}

.menu, .menu a {
  @media (max-width: 767px) {
    display: none;
  }
}

/* sidemenu */

.sidemenu {
  float: left;
  height: 1300px;
  width: 25%;
  background-color: #1B435D;
  letter-spacing: 3px;
}

.sidemenu {
  @media (max-width: 767px) {
    display: none;
  }
}

.sidemenu ul {
  padding: 0;
}

.sidemenu li {
  margin: 80px auto;
}

.sidemenu-mobile {
  text-align: left;
  height: 300px;
  width: 100%;
  padding: 3% 5%;
  background-color: #1B435D;
  letter-spacing: 3px;
  vertical-align: middle;
}

.sidemenu-mobile span {
  float: right;
  vertical-align: central;
  font-size: 1.5em;
}

.sidemenu-mobile ul {
  padding: 0;
  list-style: none;
}

.sidemenu-mobile li {
  margin: 30px 0;
}

.sidemenu-mobile {
  @media (min-width: 768px) {
    display: none;
  }
}

/* profile */

.profile-switch {
  display: inline-block;
  width: 50%;
  height: 50px;
  line-height: 50px;
  letter-spacing: 3px;
}

.profile-switch.traveler {
  background-color: grey;
  color: white;
  float: right;
}

.profile-switch.shopper {
  background-color: white;
  color: black;
  float: left;
}

.message-btn {
  display: block;
  float: right;
  width: 30%;
  height: 50px;
  margin: 40px 5% 0 70%;
  font-weight: bold;
  line-height: 50px;
  border: 2px solid #F99F48;
  border-radius: 10px;
  letter-spacing: 2px;
}

.message-btn {
  @media (max-width: 767px) {
    float: none;
    width: 80%;
    height: 50px;
    margin: 20px auto;
    line-height: 50px;
  }
}

.message-btn:link, .message-btn:visited, .message-btn:hover, .message-btn:active {
  color: #F99F48;
}

.message-btn:hover {
  background-color: #F99F48;
  color: white;
  opacity: 0.7;
}

.profile {
  float: right;
  height: 1000px;
  width: 75%;
  background-color: white;
}

.profile {
  @media (max-width: 767px) {
    width: 100%;
    height: 1100px;
  }
}

.profile img {
  height: 200px;
  width: 200px;
  margin: 20px 0;
}

.profile p {
  margin-top: 10px;
}

.fab {
  font-size: 30px;
  margin-bottom: 30px;
}

.sns:link, .sns:visited, .sns:hover, .sns:active {
  color: #78BBE6;
}

.user-data {
  font-size: 2rem;
  color: #1B435D;
}

.active-info {
  margin-bottom: 40px;
  color: #1B435D;
}

.object {
  color: #78BBE6;
}

.table-heading {
  color: #78BBE6;
  font-weight: bold;
}

.table-data {
  width: 90%;
  color: #1B435D;
  border-collapse: collapse;
  margin: 0 auto;
}

.table-data td {
  padding: 13px 13px;
  border-bottom: 1px solid #78BBE6;
}

// .table-data .transaction-data td:nth-child(6) {
//   font-weight: bold;
// }

.transaction-data.total {
  font-weight: bold;
  background-color: #D5EEFF;
  border: none;
}

.request {
  display: inline-block;
  position: relative;
  margin: 60px 0 30px 0;

}

// .request::after {
//   content: "";
//   position: absolute;
//   left: 0;
//   right: 0;
//   bottom: -10%;
//   border-bottom: 1px solid #333;
// }

// Transaction msg-history

.transaction-history {
  float: right;
  text-align: center;
  width: 75%;
}

.history-box {
  display: inline-box;
  width: 70%;
  height: 50px;
  border: 1px solid grey;
  margin: 0 auto 10px auto;
}

.history-box.initial {
  height: 350px;
}

.history-wrapper {
  display: flex;
  justify-content: space-between;
}

.history-box p {
  display: inline;
  line-height: 50px;
  margin: auto 50px;
}

.request-data {
  text-align: left;
  list-style: none;
}

.request-data li {
  margin: 10px;
}

.bread-crumb {
  text-align: left;
  margin-left: 30px;
}

.bread-crumb a:link, .bread-crumb a:visited{
  color: #78BBE6;
}


// search result

.filter, .search-result {
  text-align: left;
  background: #D5EEFF;
}

.filter {
  width: 20%;
  float: left;
  height: 1000px;
  padding: 20px;
}

.filter h2 {
  margin-bottom: 47.431px;
}

.filter-field {
  background-color: white;
  padding: 20px;
  height: 800px;
}

.filter-item {
  margin-bottom: 50px;
}

.search-result {
  width: 80%;
  float: right;
  height: 1000px;
  padding: 20px;
}

.sort-by  {
  // text-align: right;
  height: 20px;
  margin-bottom: 10px;
}

.profile-card {
  display: inline-block;
  background: white;
  width: 47%;
  height: 240px;
  padding: 20px;
  margin-right: 20px;
}

.profile-card-name {
  font-size: 1.3em;
  margin-top: 0;
}

.profile-card-img {
  display: inline-block;
  width: 30%;
  height: 120px;
  background-color: grey;
  margin-right: 20px;
}

.profile-card-contents {
  display: inline-block;
  width: 50%;
  height: 100%;
  vertical-align: top;
}

.subject {
  color: #78BBE6;
  margin-top: 10px;
}

// Message Box

.msg-box {
  float: right;
  width: 75%;
  height: 633px;
  border-bottom: 1px solid #D3D3D3;
}

.msg-box h2 {
  margin-top: 20px;

}

.msg-history {
  float: left;
  border-right: 1px solid #D3D3D3;
  width: 40%;
  height: 573px;
  border-top: 1px solid #D3D3D3;
  padding: 20px;
}

.msg-history input {
  width: 90%;
  margin-bottom: 20px;
}

.msg-history-item {
  text-align: left;
  padding: 5px;
}

.msg-history-img {
  display: inline-block;
  background-color: grey;
  width: 60px;
  height: 60px;
  margin: auto 0;
}

.msg-history-contents {
  display: inline-block;
  line-height: 8px;
  margin: auto 0 auto 10px;
  vertical-align: top;
}

.msg-name {
  font-weight: bold;
}

.chat {
  float: right;
  width: 60%;
  height: 573px;
  border-top: 1px solid #D3D3D3;
  // padding: 20px;
}

.chat-area {
  height: 400px;
  padding: 10px;
  overflow: scroll;
}

.chat-cmt-sender, .chat-cmt-me {
  display: block;
  text-align: left;
  width: 50%;
  height: auto;
  background-color: #D3D3D3;
  border-radius: 10px;
  padding: 15px;
  margin-right: 50%;
  margin-bottom: 5px;
  overflow-wrap: break-word;
}

.chat-cmt-me {
  background-color: #D5EEFF;
  margin-left: 50%;
}

.type-msg {
  border-top: 1px solid #D3D3D3;
  height: 100px;
}

.type-msg input {
  display: block;
  width: 100%;
  height: 100px;
  border: none;
  padding: 8px;
}

.submit-btn {
   background-color: red;
}

// howItWorks

.how-it-works > h3 {
  text-align: left;
  margin: 50px 0 40px 10%;
}

.how-it-works {
  float: right;
  width: 75%;
}

.to-get-started {
  text-align: left;
  margin-left: 140px;
}

.step {
  position: relative;
  display: block;
  text-align: left;
  // background-color: #D5EEFF;
  width: 80%;
  height: 40px;
  margin: 30px auto;
  padding-left: 40px;
  overflow-wrap: break-word;
}

.step-number {
  position: absolute;
  text-align: center;
  top: -30%;
  left: -3%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 2rem;
  color: white;
  font-weight: bold;
  background-color: #78BBE6;
  border-radius: 50%;
}

.request-form {
  float: right;
  width: 75%;
}

.request-form p, form {
  display: inline-block;
}

.request-form-index {
  display: inline-block;
  margin: 20px 20px 20px 0;
  font-weight: bold;
}

.send-request {
  margin-top: 50px;
}

/* footer */

footer {
  background-color: #78BBE6;
  width: 100%;
  height: 300px;
  padding: 3% 5%;
}
