@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Lexend+Deca&display=swap');

html {
  width: 100%;
  font-size: 62.5%;
}

body {
  width: 100%;
  color: #4A4A4A;
  text-align: center;
  font-size: 1.5rem;
  line-height: 150%;
  font-family: 'Lexend Deca', sans-serif;
}

*, *::after, *::before {
  box-sizing: border-box;
}

.wrapper {
  overflow:hidden;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

a:link, a:visited, a:hover, a:active {
  color: #FFF;
  text-decoration: none;
  cursor: pointer;
}

h2 {
  color: #FFBF5D;
  margin-top: 50px;
  margin-bottom: 30px;
  letter-spacing: 2px;
}

h3 {
  margin-top: 30px
}

input {
  border-radius: 7px;
  border: 1px solid #ccc;
  background-color: #EEEEEE;
  height: 30px;
  padding: 10px;
}

.asterisk {
font-size: 100%;
vertical-align: top;
position: relative;
top: -0.1em;
color: red;
}

.suptext {
font-size: 65%;
vertical-align: top;
position: relative;
top: -0.1em;
color: #4A4A4A;
}

.btn {
  background-color: #16C4FD;
  display: block;
  width: 300px;
  height: 40px;
  margin: 30px auto;
  line-height: 40px;
  border-radius: 7px;
  box: none;
  color: white;
  border-style: none;
}

.btn:hover {
  cursor: pointer;
  background-color: #0a5770;
  transition: 0.3s ;
}

li {
  margin: 7px;
}

/* topbar */

.topbar-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFB23B;
  height: 80px;
  width: 100%;
  padding: 1% 5%;
}

.logo {
  width: 197.6px;
  height: 45.5px;
}

.login {
  width: 40%;
}

.signin, .register {
  font-weight: bold;
  letter-spacing: 2px;
  margin-right: 20px;
}

.register {
  display: inline-block;
  border: 2px solid #fff;
  border-radius: 7px;
  width: 40%;
}

.topbar-contents {
  @media (max-width: 767px) {
    display: none;
  }
}

.mobile-topbar-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #78BBE6;
  height: 80px;
  width: 100%;
  padding: 1% 5%;
}

.mobile-menu-icon {
  font-size: 5rem;
  color: black;
}

.mobile-topbar-contents {
  @media (min-width: 768px) {
    display: none;
  }
}

/* top-menu */

.menu {
  height: 80px;
  // border-bottom: solid 1px #D3D3D3;
  background-color: #FCF5EB;
}

.menu a:link, .menu a:visited, .menu a:hover, .menu a:active {
  display: inline-block;
  color: #4A4A4A;
  text-decoration: none;
  margin: 30px 40px;
  font-weight: bold;
  letter-spacing: 3px;
}

.menu, .menu a {
  @media (max-width: 767px) {
    display: none;
  }
}

/* sidemenu */

.sidemenu {
  float: left;
  // height: 1300px;
  width: 25%;
  background-color: #4A4A4A;
  letter-spacing: 3px;
  padding-bottom: 10000px;
  margin-bottom: -10000px;
}

.sidemenu {
  @media (max-width: 767px) {
    display: none;
  }
}

.sidemenu ul {
  padding: 0;
}

.sidemenu li {
  margin: 80px auto;
}

.sidemenu-mobile {
  text-align: left;
  height: 300px;
  width: 100%;
  padding: 3% 5%;
  background-color: #4A4A4A;
  letter-spacing: 3px;
  vertical-align: middle;
}

.sidemenu-mobile span {
  float: right;
  vertical-align: central;
  font-size: 1.5em;
}

.sidemenu-mobile ul {
  padding: 0;
  list-style: none;
}

.sidemenu-mobile li {
  margin: 30px 0;
}

.sidemenu-mobile {
  @media (min-width: 768px) {
    display: none;
  }
}

/* profile */

.profile-switch {
  display: inline-block;
  width: 50%;
  height: 50px;
  line-height: 50px;
  letter-spacing: 3px;
}

.profile-switch.traveler {
  background-color: grey;
  color: white;
  float: right;
}

.profile-switch.shopper {
  background-color: white;
  color: black;
  float: left;
}




.profile {
  float: right;
  // height: 1000px;
  width: 75%;
  background-color: white;
  padding: 0 0 100px 0;
}

.profile {
  @media (max-width: 767px) {
    width: 100%;
    height: 1100px;
  }
}

.profile img {
  height: 200px;
  width: 200px;
  margin: 20px 0;
}

.profile p {
  margin-top: 10px;
}

.fab {
  font-size: 30px;
  margin-bottom: 30px;
}

.sns:link, .sns:visited, .sns:hover, .sns:active {
  color: #78BBE6;
}

.user-data {
  font-size: 2rem;
  // color: #1B435D;
}

.active-info {
  margin-bottom: 40px;
  // color: #1B435D;
}

.object {
  color: #999999;
}

.table-heading {
  color: #BBBBBB;
  font-weight: bold;
}

.table-data {
  width: 90%;
  // color: #1B435D;
  border-collapse: collapse;
  margin: 0 auto;
}

.table-data td {
  padding: 13px 13px;
  border-bottom: 1px solid #BBBBBB;
}

// .table-data .transaction-data td:nth-child(6) {
//   font-weight: bold;
// }

.add-new-trip {
  background: #D7EEFF;
  margin: 90px auto 130px;
  width: 90%;
  padding: 10px 10px 20px 10px;
  border-radius: 7px;
}

.upcoming {
  margin-top: 100px;
}

.btn.savep {
  line-height: 10px!important;
}

.trip-entry {
  display: block;
  margin: 5px auto 5px;
}

.datepicker {
  display: inline-block;
}

.transaction-data.total {
  font-weight: bold;
  background-color: #D5EEFF;
  border: none;
}

.request {
  display: inline-block;
  position: relative;
  margin: 60px 0 30px 0;

}

// .request::after {
//   content: "";
//   position: absolute;
//   left: 0;
//   right: 0;
//   bottom: -10%;
//   border-bottom: 1px solid #333;
// }

// Transaction msg-history

.transaction-history h3 {
    margin: 70px 0 25px 0;
}

.status {
  display: inline-box;
  text-align: left;
  width: 70%;
  height: 50px;
  border: 1px dashed grey;
  padding-left: 50px;
  margin: 0 auto 50px auto;
  line-height: 50px;
}

.transaction-history {
  float: right;
  text-align: center;
  width: 75%;
  padding: 0 0 100px 0;
}

.history-box {
  display: inline-box;
  width: 70%;
  height: 50px;
  border: 1px solid grey;
  margin: 0 auto 10px auto;
}

.history-box.initial {
  height: 400px;
}

.history-wrapper {
  display: flex;
  justify-content: space-between;
}

.history-box p {
  display: inline;
  line-height: 50px;
  margin: auto 50px;
}

.request-data {
  text-align: left;
  list-style: none;
}

.request-data li {
  margin: 10px;
}

.bread-crumb {
  text-align: left;
  margin-left: 30px;
}

.bread-crumb a:link, .bread-crumb a:visited{
  color: #78BBE6;
}

.action-btn {
  height: 30px;
  width: 100px;
  margin: 10px 10px 0 0;
  background-color: #F99F48;
  box-shadow: none;
  color: white;
}

.action-btn.decline {
  background-color: #78BBE6;
}

.status > .action-btn {
  float: right;
}


// search result

.filter, .search-result {
  text-align: left;
  background: #D5EEFF;
}

.filter {
  width: 20%;
  float: left;
  height: 1000px;
  padding: 20px;
}

.filter h2 {
  margin-bottom: 47.431px;
}

.filter-field {
  background-color: white;
  padding: 20px;
  height: 800px;
}

.filter-item {
  margin-bottom: 50px;
}

.search-result {
  width: 80%;
  float: right;
  height: 1000px;
  padding: 20px;
}

.sort-by  {
  // text-align: right;
  height: 20px;
  margin-bottom: 10px;
}

.search-user-wrapper {
  overflow: scroll;
  height: 1070px;
}

.profile-card {
  display: inline-block;
  background: white;
  width: 40%;
  height: 180px;
  padding: 20px;
  margin: 30px 30px 0 30px;
  box-shadow: 0 0 20px lightgray;
}

.profile-card:hover {
  box-shadow: 0 0 20px #78BBE6;
}

.profile-card-name {
  font-size: 1.3em;
  margin-top: 0;
}

.profile-card-img {
  display: inline-block;
  width: 30%;
  height: 120px;
  background-color: grey;
  margin-right: 20px;
}

.profile-card-contents {
  display: inline-block;
  width: 50%;
  height: 100%;
  vertical-align: top;
}

.subject {
  color: #FFB23B;
  margin-top: 10px;
}

.search-box {
  display: inline-block;
  margin: 20px 0 0 0;
  width: 500px;
  height: 40px;
  padding: 5px;
}

.btn.search {
  display: inline-block;
  // background-color: #F17816;
  margin: 20px 0;
  border: none;
  width: 30%;
}

// Message Box

.msg-box {
  float: right;
  width: 75%;
  height: 633px;
  border-bottom: 1px solid #D3D3D3;
}

.msg-box h2 {
  margin-top: 20px;

}

.msg-history {
  float: left;
  border-right: 1px solid #D3D3D3;
  width: 40%;
  height: 573px;
  border-top: 1px solid #D3D3D3;
  padding: 20px;
}

.msg-history input {
  width: 90%;
  margin-bottom: 20px;
}

.msg-history-item {
  text-align: left;
  padding: 5px;
}

.msg-history-img {
  display: inline-block;
  background-color: grey;
  width: 60px;
  height: 60px;
  margin: auto 0;
}

.msg-history-contents {
  display: inline-block;
  line-height: 8px;
  margin: auto 0 auto 10px;
  vertical-align: top;
}

.msg-name {
  font-weight: bold;
}

.chat {
  float: right;
  width: 60%;
  height: 573px;
  border-top: 1px solid #D3D3D3;
  // padding: 20px;
}

.chat-area {
  height: 400px;
  padding: 10px;
  overflow: scroll;
}

.chat-cmt-sender, .chat-cmt-me {
  display: block;
  text-align: left;
  width: 50%;
  height: auto;
  background-color: #D3D3D3;
  border-radius: 7px;
  padding: 15px;
  margin-right: 50%;
  margin-bottom: 5px;
  overflow-wrap: break-word;
}

.chat-cmt-me {
  background-color: #D5EEFF;
  margin-left: 50%;
}

.type-msg {
  border-top: 1px solid #D3D3D3;
  height: 100px;
}

.type-msg input {
  display: block;
  width: 100%;
  height: 100px;
  border: none;
  padding: 8px;
}


// howItWorks

.wrapper-clearfix.howto {
  width: 80%;
  margin: 0 auto;
}

.how-to-requester, .how-to-arrow, .how-to-traveler {
  height: 1200px;
  background-color: #F1F8FE;
  margin-bottom: 100px;
}

.how-to-requester {
  // background-color: pink;
  float: left;
  width: 45%;
}

.how-to-arrow {
  // background-color: yellow;
  float: left;
  width: 10%;
  padding: 60px 0;
}

.how-to-traveler {
  // background-color: red;
  float: right;
  width: 45%;
}

.arrow-box {
  width: 107px;
  height: 100px;
  background-color: #FFBF5D;
  padding-top: 30px;
}

.arrow-box p {
  font-size: 1.2em;
  color: white;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 53px solid transparent;
  border-right: 53px solid transparent;
  border-top: 53px solid #FFBF5D;
  margin-bottom: 5px;
}

.arrow-box.meetup {
  background-color: #F17816;
}

.triangle.meetup {
  border-top: 53px solid #F17816;
}

.how-box {
  display: block;
  width: 95%;
  // height: 100px;
  margin: 20px auto 210px;
  background-color: white;
  text-align: left;
  vertical-align: top;
  // border: solid 1px #BBBBBB;
  border-radius: 7px;
  padding: 2px 20px;
}

.how-heading {
  font-weight: bold;
  font-size: 1.2em;
  color: #4A4A4A;
}

.requester {
  color: #16C4FD;
    // font-size: 1.2em;
}

.traveler-name {
  color: #FFB23B;
  // font-size: 1.2rem;
}

.how-box.third {
  margin: 20px auto 70px;
}

.how-box.traveler {
  margin: 180px auto 0;
}

.how-box.traveler.last {
  margin: 400px auto 0;
}

.how-detail {
  text-align: left;
  width: 80%;
  margin: 100px auto 100px;
}



// form

.form {
  display: block;
  float: right;
  width: 75%;
  background-color: #EEEEEE;
  padding-bottom: 70px;
}

.form-wrapper {
  text-align: left;
}

.meetup-rule {
  margin-top: 60px;
}

.form-section {
  background-color: white;
  width: 80%;
  border-radius: 7px;
  margin: 30px auto 0px;
  padding: 50px;
}

.form-heading {
  display: inline-block;
  margin: 0 0 0 0;
  font-weight: bold;
  text-align: left;
}

.form-section input {
  width: 100%;
  margin: 10px 0 30px 0;
}

.meetup-option {
  width: 21%!important;
  margin-left: 15px!important;
}

.contact-option {
  width: 30%!important;
  margin-left: 15px!important;
}

.form-data {
  display: inline-block;
  margin: 10px 0 30px 0;
  text-align: right;
}

.meetup {
  margin-right: 50px;
}

.btn.accept {
    display: inline-block;
    width: 30%;
    line-height: 20px;
    color: white;
    margin: 10px 0;
    background-color: orange;
}

.form-send-btn {
  color: white;
  // background-color: #1B435D;
  // display: block;
  width: 50%;
  height: 50px;
  // line-height: 30px;
  // border-radius: 10px;
  margin-top: 50px;
}




/* footer */

.btn.request {
  margin: 1px 1px;
  width: 80%;
}

// email

.email-background {
  background-color: #FED89E;
  border-radius: 7px;
  margin:10px auto;
  padding: 30px;
  width: 90%;
}

.email-logo {
    margin-bottom: 30px;
}

.email-header {
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 40px;
}

.email-closing {
  font-weight: bold;
}
