<!DOCTYPE html>
<html lang="en">
<head>
  <meta charsset="UTF-8">
  <title>Transaction Status</title>
  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="../css/style.min.css">
</head>
<body>

  <div>
     <header class="header">
         <div class="topbar-contents">
           <form class="search">
             <input type="search" name="search" placeholder="Search"/>
             <input class="search-button" type="submit" value="Search"/>
           </form>
           <a href="#"><p>APP<br/>LOGO</p></a>
           <div class="login">
             <a class="register" href="#">Get Started</a>
             <a class="signin" href="#">Sign in</a>
           </div>
         </div>

         <div class="mobile-topbar-contents">
           <a href="#" class="mobile-menu-icon"><i class="fa fa-bars">三</i></a>
           <a href="#"><p>APP<br/>LOGO</p></a>
           <a href="#" class="mobile-menu-icon"><i class="fa fa-bars">★</i></a>
         </div>

       <div class="menu">
         <a href="#">HOME</a>
         <a href="#">Request Item</a>
         <a href="#">Find Request</a>
         <a href="#">Mypage</a>
       </div>
     </header>

     <div class="wrapper clearfix">
       <div class="sidemenu">
         <ul>
           <li><a href="#">My Profile</a></li>
           <li><a href="#">Transaction Status</a></li>
           <li><a href="#">Message Box</a></li>
           <li><a href="#">Edit Profile</a></li>
           <li><a href="#">Edit Account</a></li>
           <li><a href="#">Logout</a></li>
           <li><a href="#">Help</a></li>
         </ul>
       </div>

       <div class="how-it-works">
         <h2>How It Works</h2>
          <h3>...If You Want to Request an Item</h3>
            <div class="step">
              <div class="step-number">1</div>
              <p>On "Search" page, search for a user by "Travel destination" and "Residence City" to find someone who lives near you, and is traveling to the city where you want your item from.</p>
            </div>
            <div class="step">
              <div class="step-number">2</div>
              <p>From that user's "Profile" page, fill out and send a request form with the description of the item and proposed price.</p>
            </div>
            <div class="step">
              <div class="step-number">3</div>
              <p>If the requested user approves your request, Souvenir will notify you through an e-mail.</p>
            </div>
            <div class="step">
              <div class="step-number">4</div>
              <p>Through the link on the e-mail, make a payment for the agreed price. Souvenir will keep your payment until your item is received :)</p>
            </div>
            <div class="step">
              <div class="step-number">5</div>
              <p>Please notify Souvenir once you receive the item. Enjoy!</p>
            </div>

            <h3>...If You Receive a Request</h3>
              <div class="step">
                <div class="step-number">1</div>
                  <p>Check the request either from the link on the notification e-mail or on "Transaction Status" page.</p>
                </div>
              <div class="step">
                <div class="step-number">2</div>
                <p>If you are ok with getting the item for the proposed price, click "Accept".</p>
              </div>
              <div class="step">
                <div class="step-number">3</div>
                <p>The requesting user will make a payment, and Souvenir will notify you for the receipt of the payment through an e-mail.</p>
              </div>
              <div class="step">
                <div class="step-number">4</div>
                <p>Buy the requested item on your trip. Ship it or hand it to the user in person once you get back from the trip.</p>
              </div>
              <div class="step">
                <div class="step-number">5</div>
                <p>Once the item is received by the requesting user, Souvrnir will send you the payment.</p>
              </div>
       </div>

     </div>
   </div>

     <div class="sidemenu-mobile">
     <ul>
     <li><a href="#">My Profile<span>></span></a></li>
     <li><a href="#">Transaction Status<span>></span></a></li>
     <li><a href="#">Message Box<span>></span></a></li>
     <li><a href="#">Edit Profile<span>></span></a></li>
     <li><a href="#">Edit Account<span>></span></a></li>
     <li><a href="#">Logout<span>></span></a></li>
     <li><a href="#">Help<span>></span></a></li>
     </ul>
     </div>

   <footer>
   FOOTER CONTENTS TO BE DETERMINED
   <FontAwesomeIcon icon="igloo" />
   </footer>
 </div>

<body>
<html>
