<!DOCTYPE html>
<html lang="en">
<head>
  <meta charsset="UTF-8">
  <title>Transaction Status</title>
  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="../css/style.min.css">
</head>
<body>

  <div>
      <header class="header">
          <div class="topbar-contents">
            <form class="search">
              <input type="search" name="search" placeholder="Search"/>
              <input class="search-button" type="submit" value="Search"/>
            </form>
            <a href="#"><p>APP<br/>LOGO</p></a>
            <div class="login">
              <a class="register" href="#">Get Started</a>
              <a class="signin" href="#">Sign in</a>
            </div>
          </div>

          <div class="mobile-topbar-contents">
            <a href="#" class="mobile-menu-icon"><i class="fa fa-bars">三</i></a>
            <a href="#"><p>APP<br/>LOGO</p></a>
            <a href="#" class="mobile-menu-icon"><i class="fa fa-bars">★</i></a>
          </div>

        <div class="menu">
          <a href="#">HOME</a>
          <a href="#">Request Item</a>
          <a href="#">Find Request</a>
          <a href="#">Mypage</a>
        </div>
      </header>

      <div class="wrapper clearfix">
        <div class="sidemenu">
          <ul>
            <li><a href="#">My Profile</a></li>
            <li><a href="#">Transaction Status</a></li>
            <li><a href="#">Message Box</a></li>
            <li><a href="#">Edit Profile</a></li>
            <li><a href="#">Edit Account</a></li>
            <li><a href="#">Logout</a></li>
            <li><a href="#">Help</a></li>
          </ul>
        </div>

        <div class="profile">
          <div class="wrapper clearfix">
            <div class="profile-switch shopper">Shopper Profile</div>
            <div class="profile-switch traveler">Traveler Profile</div>
          </div>

          <h2>Sent Request</h2>
          <table class="table-data">
            <tr class="table-heading">
              <td>Date Sent</td>
              <td>Traveler</td>
              <td>Travel Date</td>
              <td>Item</td>
              <td>Location</td>
              <td>Status</td>
            </tr>
            <tr class="transaction-data">
              <td>4/12/2019</td>
              <td>Emi</td>
              <td>4/16/2019 - 4/20/2019</td>
              <td>Makeup</td>
              <td>Tokyo, Japan</td>
              <td>Accepted</td>
            </tr>
            <tr class="transaction-data">
              <td>5/3/2019</td>
              <td>Takumi</td>
              <td>5/20/2019 - 5/25/2019</td>
              <td>Snack</td>
              <td>Paris, France</td>
              <td>Purchased</td>
            </tr>
          </table>

          <h2>Received Request</h2>
          <table class="table-data">
            <tr class="table-heading">
              <td>Date Received</td>
              <td>Shopper</td>
              <td>Item</td>
              <td>Location</td>
              <td>Item</td>
              <td>Status</td>
            </tr>
            <tr class="transaction-data">
              <td>4/5/2018</td>
              <td>Pomi</td>
              <td>Kimono</td>
              <td>Tokyo, Japan</td>
              <td>Tokyo Banana</td>
              <td>Declined</td>
            </tr>
          </table>
        </div>
      </div>

      <div class="sidemenu-mobile">
      <ul>
      <li><a href="#">My Profile<span>></span></a></li>
      <li><a href="#">Transaction Status<span>></span></a></li>
      <li><a href="#">Message Box<span>></span></a></li>
      <li><a href="#">Edit Profile<span>></span></a></li>
      <li><a href="#">Edit Account<span>></span></a></li>
      <li><a href="#">Logout<span>></span></a></li>
      <li><a href="#">Help<span>></span></a></li>
      </ul>
      </div>

    <footer>
    FOOTER CONTENTS TO BE DETERMINED
    <FontAwesomeIcon icon="igloo" />
    </footer>
  </div>
<body>
<html>
