<!DOCTYPE html>
<html lang="en">
<head>
  <meta charsset="UTF-8">
  <title>Transaction Status</title>
  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="../css/style.min.css">
</head>
<body>

  <div>
     <header class="header">
         <div class="topbar-contents">
           <form class="search">
             <input type="search" name="search" placeholder="Search"/>
             <input class="search-button" type="submit" value="Search"/>
           </form>
           <a href="#"><p>APP<br/>LOGO</p></a>
           <div class="login">
             <a class="register" href="#">Get Started</a>
             <a class="signin" href="#">Sign in</a>
           </div>
         </div>

         <div class="mobile-topbar-contents">
           <a href="#" class="mobile-menu-icon"><i class="fa fa-bars">三</i></a>
           <a href="#"><p>APP<br/>LOGO</p></a>
           <a href="#" class="mobile-menu-icon"><i class="fa fa-bars">★</i></a>
         </div>

       <div class="menu">
         <a href="#">HOME</a>
         <a href="#">Request Item</a>
         <a href="#">Find Request</a>
         <a href="#">Mypage</a>
       </div>
     </header>

     <div class="wrapper clearfix">
       <div class="sidemenu">
         <ul>
           <li><a href="#">My Profile</a></li>
           <li><a href="#">Transaction Status</a></li>
           <li><a href="#">Message Box</a></li>
           <li><a href="#">Edit Profile</a></li>
           <li><a href="#">Edit Account</a></li>
           <li><a href="#">Logout</a></li>
           <li><a href="#">Help</a></li>
         </ul>
       </div>

       <div class="transaction-history">
         <p class="bread-crumb"><a href="#">Back to Transaction Status</a><p>
         <h2>Received Request</h2>
         <div class="history-box">
           <div class="history-wrapper">
             <p>Item received by Emi</p><p>5/6/2019</p>
          </div>
         </div>
         <div class="history-box">
           <div class="history-wrapper">
             <p>Payment made by Emi</p><p>5/4/2019</p>
           </div>
         </div>
         <div class="history-box">
           <div class="history-wrapper">
             <p>Request accepted by you</p><p>5/2/2019</p>
           </div>
         </div>
         <div class="history-box initial">
           <div class="history-wrapper">
             <p>Request sent by Emi</p><p>5/1/2019</p>
           </div>
           <ul class="request-data">
             <li>User Name:   Emi</li>
             <li>Location:   Seattle</li>
             <li>Item Name:   Chocolate</li>
             <li>Item ID (Optional):   12345</li>
             <li>Item URL (Optional):   https://chocolate.com</li>
             <li>Item Category:   Food</li>
             <li>Want Item by:    6/1/2019</li>
             <li>Proposed Price (incl. shipping):   $20</li>
             <li>Preferred Delivery Method:   Ship</li>
             <li>Comments (Optional):</li>
           </ul>
         </div>

       </div>
     </div>
   </div>

     <div class="sidemenu-mobile">
     <ul>
     <li><a href="#">My Profile<span>></span></a></li>
     <li><a href="#">Transaction Status<span>></span></a></li>
     <li><a href="#">Message Box<span>></span></a></li>
     <li><a href="#">Edit Profile<span>></span></a></li>
     <li><a href="#">Edit Account<span>></span></a></li>
     <li><a href="#">Logout<span>></span></a></li>
     <li><a href="#">Help<span>></span></a></li>
     </ul>
     </div>

   <footer>
   FOOTER CONTENTS TO BE DETERMINED
   <FontAwesomeIcon icon="igloo" />
   </footer>
 </div>

<body>
<html>
